<%= form_for(@attribute_test_value) do |f| %>
  <% if @attribute_test_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attribute_test_value.errors.count, "error") %> prohibited this attribute_test_value from being saved:</h2>

      <ul>
      <% @attribute_test_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
